.flex {
    display: flex;
}
.text-decoration{
    text-decoration: none;
}
.top {
    justify-content: space-between;
    background-color: rgb(0, 0, 154);
    color: aliceblue;
}

.left {
    padding: 5px;
    margin: 5px;
}
.right{
    padding: 5px;
    margin: 5px;
}
.header-item{
    
    padding: 20px;
}
.col-12{
    width: 100%;
}
.setTimeout{
    background-color: #ccc;
    color: blue;
    text-align: center;
    padding-top: 30px;
    margin-top: 80px;
}